<!--Delete All Users-->

<!DOCTYPE html>
<html lang="en">
  <!--Header Template-->
  <%- include('./partials/header.ejs') %>

  <body>
    <!--Nav Template-->
    <div class="display-container">
      <h1><%= title %></h1>
      <div class="nav-container"><%- include('./partials/navbar.ejs') %></div>
      
    </div>
    <!--Footer Template-->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>