<!--Head-->
<%- include("partials/header")%>

<body>
  <%- include("partials/navbar", {links: links});%>
  <!--Main Heading-->
  <div class="main-heading"><%= mainHeading%></div>

  <form method="post" action="/new">
    <!--Container for Form-->
    <div class="form-container">
      <!--User-->
      <label class="form-label" for="user">Author</label>
      <input class="form-input" name="user" id="user" required /><br />

      <!--Snippet-->
      <label class="form-label" class="form-label" for="snippet">Snippet</label>
      <input  class="form-input" name="snippet" id="snippet" required /><br />

      <!--Main part of message-->
      <label class="form-label" for="details">Details</label>
      <textarea class="form-textarea" name="details" id="details" required></textarea><br />

      <!--Submit button-->
      <button class="form-submit">Submit</button>
    </div>
  </form>
</body>
