<html>
  <!--Head-->
  <%- include("partials/header")%>

  <body>
    <!--Main Heading-->
    <div class="main-heading"><%= mainHeading%></div>

    <!--Message Container-->
    <div class="message-container">
      <ul>
        <% messages.forEach((message)=>{%>
        <li><%= `${message.user}: ${message.text} - ${message.Date}` %></li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
